<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Infamous Criminals</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/criminalsController.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<!-- ADD ng-app to the body tag -->
<body ng-app="CriminalsApp">

  <h1>Infamous Criminals</h1>

<!-- ADD ng-controller to the section tag -->
  <section ng-controller="CriminalsController as criminals">

    <!-- FILL IN THE BLANKS! This should show the criminals name, location and status. The span with the status in it should have a class of the status (watch for case sensitivity)-->
    <ul id="criminals">
      <li ng-repeat="criminal in criminals.all" data-id="">
        <strong>{{criminal.name}}</strong> <em>{{criminal.location}}</em> <span class='status {{}}'>{{criminal.status}}</span>
        <button class='delete' ng-click="criminals.deleteCriminal(criminal)">X</button>
        <button class='edit' ng-click="criminals.editCriminal(criminal)">edit</button>
      </li>
    </ul>

<!-- ADD ng-submit to the form -->
    <form ng-submit="criminals.addCriminal()">
      <div>
        <label for="newCriminal-name">Name:</label>
        <input type="text" id="newCriminal-name" ng-model="criminals.newCriminal.name" placeholder="Prof. Moriarty">
      </div>
      <div>
        <label for="newCriminal-location">Location:</label>
        <input type="text" id="newCriminal-location" ng-model="criminals.newCriminal.location" placeholder="Reichenbach Falls, CH">
      </div>
      <div>
        <label for="newCriminal-status">Status:</label>


<!-- ADD ng-model to the select tag -->
        <select id="newCriminal-status" ng-model="criminals.newCriminal.status">
          <option value="" disabled>- - Please Select One - -</option>
          <option value="Alive">Alive</option>
          <option value="Dead">Dead</option>
          <option value="Unknown" selected>Unknown</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Add Criminal">
      </div>
    </form>

    <!-- EDIT a criminal -->
    
    <form ng-show="criminals.editForm" ng-submit="criminals.editCriminal()">
      <h3>Edit Criminal</h3>
      <div>
        <label for="putCriminal-name">Name:</label>
        <input type="text" id="putCriminal-name" ng-model="criminals.putCriminal.name" placeholder="Prof. Moriarty">
      </div>
      <div>
        <label for="putCriminal-location">Location:</label>
        <input type="text" id="putCriminal-location" ng-model="criminals.putCriminal.location" placeholder="Reichenbach Falls, CH">
      </div>
      <div>
        <label for="putCriminal-status">Status:</label>
            <select id="putCriminal-status" ng-model="criminals.putCriminal.status">
          <option value="" disabled>- - Please Select One - -</option>
          <option value="Alive">Alive</option>
          <option value="Dead">Dead</option>
          <option value="Unknown" selected>Unknown</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Edit Criminal">
      </div>
    </form>
    </form>

  </section>

</body>
</html>
